.container-film {
    // z-index: -1;
    height: auto !important;
    min-height: 80%;
    background-color: #eeeeee;
    margin-left: 121px;
    width: 100%;
}

@media screen and (max-width: 750px){
    .container-film {
        margin-left: 100px;
    }
}

@media screen and (max-width: 530px){
    .container-film {
        margin-left: 0;
    }
}