@mixin flex($flex_direction: column, $text_align: center) {
    display: flex;
    flex-direction: $flex_direction;
    text-align: $text_align;
}

@mixin hover {
    filter: brightness(80%);
    &:hover {
        filter: brightness(1);
    }
}
@mixin position($position: absolute, $top: 0, $left: 0){
    position: $position;
    top: $top;
    left: $left;
}