@import './functions';
@import './variables';

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
    background-color: $White;

    .menu-link {
        @include flex;
        justify-content: center;
        height: 100%;
        padding: 10%;
        cursor: pointer;
        border-left: 3px solid transparent;
    }

    .menu-link:nth-child(1) {
        @include flex(row);
        align-items: center;
        height: 0;
        background-color: $Yellow;
        border-bottom: 1.5px solid $Yellow;
        padding: 25px 20px;
        .iconSearch {
            margin-right: 5px;
        }
    }

    .active:not(:nth-child(1)) {
        border-left: 3px solid $Black;
        background-color: $White;
        color: $White;
        span, i {
            text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
        }
    }

    .menu-mode {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 12px;
        background-color: $Black;
        color: $White;

        //fix underline
        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 2px;
            color: $White;

            &:hover {
                width: 100%;
                transition: width 0.3s;
            }
        }
    }
}

@media screen and (max-width: 750px){
    .menu {
        width: 100px;
    }
}

@media screen and (max-width: 530px){
    .menu {
        width: 100%;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        .menu-link {
            padding: 0;
        }
    }
    .menu-active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        z-index: 2;
    }
}