@import './functions';
@import './variables';

.container {
    .menu-mobile {
        text-align: center;
        padding: 10px 20px;
        background-color: $Yellow;
        display: none;
        justify-content: space-between;
        align-items: center;

        .hamburger {
            width: 40px;
            cursor: pointer;
            list-style-type: none;

            .trait {
                background-color: black;
                width: 100%;
                height: 3px;
                margin: 8px auto;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: 530px){
    .container {
        .menu-mobile {
            display: flex;
        }
    }
}