body.dark {
    background-color: $Black_middle;

    .container {
        .menu-smooth{
            color: $White;
        }

        .menu {
            background-color: $Black;
            color: $White;

            .menu-link:first-child {
                color: $Black;
            }
            .menu-link:last-child {
                background-color: $White;
                color: $Black;
                span, i {
                    text-shadow: none;
                }
                // &:hover {
                //     color: $White;
                //     span, i {
                //         text-shadow: none;
                //     }
                // }
            }

            .menu-mode {
                background-color: $White;
                color: $Black;
                border-right: 1px solid $Black;
            }

            .active:not(:nth-child(1)) {
                border-left: 3px solid $Yellow;
                background-color: $Black;

                span, i {
                    text-shadow: none;
                }
            }
        }

        .container-film {
            background-color: $Black_middle;
            color: $White;

            #filter {
                .container-filter {
                    .filterByGenre,
                    .filter-list {
                        border: 1px solid $White;
                        background-color: $Black;
                    }
                }
            }

            .review {
                .movie-review-cards {
                    .card {
                        border: 1px solid $White;
                        .card-info-left {
                            .review-url {
                                color: $White;
                            }
                        }
                    }
                }
            }

            .similar {
                .movie-similar-cards {
                    .card {
                        border: 1px solid $White;
                    }
                }
            }

            .film-upcoming-card {
                border: 1px solid $White;
            }

            .film-categories-cards {
                .card {
                    border: 1px solid $White;
                }
            }
        }
    }
}