@import './functions';

.container-modal {
    @include position(fixed, 0, 0);
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);

    .modal-container {
        @include flex(row);
        @include position(absolute, 50%, 50%);
        transform: translate(-50%, -50%);
        align-items: center;
        width: 60%;
        height: 80%;
        background-color: white;
        overflow-y: scroll;
        animation: popup 0.5s ease;

        #modal {
            @include position();
            color: $Black;
            width: 100%;
            height: 100%;

            .modal-info-between {
                display: flex;
                justify-content: space-around;
                margin-bottom: 8px;
            }

            .big { font-size: 25px; }

            .modal-info-img {
                width: 100%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .modal-info {
                padding: 10px;

                .modal-info-movie {
                    @include flex(column, left);
                    width: 100%;
                }

                .movie-star {
                    @include position(absolute, 5px, 7px);
                    display: inline-flex;
                    color: $Black;
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    align-items: center;
                    justify-content: center;
                    background-color: $White;
                    border-radius: 50%;
                }
                .movie-star.fav {
                    color: $Yellow;
                    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
                }

                .container-modal-btn {
                    display: flex;
                    justify-content: center;

                    .modal-btn {
                        width: 200px;
                        margin: 20px 0 10px;
                        bottom: 20px;
                        cursor: pointer;
                        padding: 5px;
                        border: 1px solid $Black;
                        border-radius: 5px;
                        text-align: center;
                    }
                }
            }
        }

        .modal-actor {
            width: 100%;
            height: 100%;
            padding: 0 30px;

            .modal-cast {
                margin-top: 20px;

                .modal-info-cast {
                    display: flex;
                    justify-content: center;

                    .modal-info-left {
                        display: flex;
                        flex-direction: column;

                        .modal-img-actor {
                            width: 170px;
                        }
                    }
                    .modal-info-right{
                        @include flex(column, left);
                        margin-left: 25px;
                        justify-content: center;
                    }
                }
                .modal-info-biography {
                    text-align: justify;
                    margin-top: 10px;
                }

                .modal-info-films{
                    margin: 40px 0;

                    .modal-films-card-info {
                        position: relative;
                        display: flex;
                        padding: 20px 0;

                        .modal-img-actor-film {
                            width: 180px;
                            object-fit: cover;
                        }

                        .modal-films-card-text{
                            @include flex(column, left);
                            position: relative;
                            margin-left: 20px;
                            justify-content: center;

                            span {
                                margin-bottom: 7px;
                            }
                        }
                        .movie-star-actor {
                            position: absolute;
                            right: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .modal-active {
            display: flex;
        }

        .input-modal {
            margin-bottom: 20px;
        }

        .modal-bg button {
            border: none;
        }

        .close {
            position: absolute;
            display: inline-flex;
            top: 5px;
            right: 7px;
            color: $Black;
            z-index: 3;
            cursor: pointer;
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            background-color: $White;
        }
    }
}