@import './functions';
@import './variables';

.overlay {
    @include flex();
    @include position();
    z-index: 2;
    cursor: context-menu;
    width: 100%;
    height: 100%;
    background-color: $Yellow;
    justify-content: center;

    h1   { font-size: 50px; font-weight: 700; }
    span { font-size: 30px; font-weight: 500; }
}