@import './functions';

.film-research {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    #form {
        display: flex;
        align-items: center;
        border: 1px solid $Black;
        margin-top: 30px;
        list-style-type: none;
        width: 300px;
        background-color: $Yellow;
        color: $Black;
        border-radius: 15px;

        > li:first-child { margin-left: 20px; }
        > li:last-child  { width: 100%; }

        #search {
            background-color: $Yellow;
            width: 100%;
            height: 41px;
            border: none;
            border-radius: 15px;
            color: $Black;
            text-indent: 10px;
            border-radius: 15px;
            outline: none;
        }
    }
}