@import '../global/functions';

.container-return {
    @include position(sticky, 0, 0);
    display: flex;
    z-index: 1;
    width: 100%;
    height: 51px;
    list-style-type: none;
    color: $Black;
    align-items: center;
    background-color: $Yellow;
    justify-content: space-between;

    .hamburger {
        width: 40px;
        cursor: pointer;
        list-style-type: none;
        margin-right: 20px;
        display: none;

        .trait {
            background-color: black;
            width: 100%;
            height: 3px;
            margin: 4px auto;
            transition: all 0.3s ease;
        }
    }

    .container-return-btn {
        display: flex;
        cursor: pointer;
        color: $Black;
        text-decoration: none;

        > li:first-child {
            margin-left: 20px;
            margin-right: 10px;
        }

        .return {
            display: flex;
            list-style-type: none;
            align-items: center;
            width: 100%;
        }
    }
}

@media screen and (max-width: 530px){
    .container-return {
        .hamburger {
            display: flex;
            flex-direction: column;
        }
    }
}