@import './components/global/container';
@import './components/global/functions';
@import './components/global/menu';
@import './components/global/menuMobile';
@import './components/global/modal';
@import './components/global/modeTheme';
@import './components/global/overlay';
@import './components/global/research';
@import './components/global/return';
@import './components/global/variables';

@import './components/pages/categories';
@import './components/pages/mooflix';
@import './components/pages/movieDetail';
@import './components/pages/playing';
@import './components/pages/trending';
@import './components/pages/upcoming';
@import './components/pages/watchlist';


*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html        { scroll-behavior: smooth; height: 100%; scroll-behavior: smooth; }
body        { font-family: 'agency fb'; width: 100%; font-size: 20px; }

.container  { width: 100%; }
.flex       { display: flex; }
.hide       { display: none; }
.titleCenter{ text-align: center; margin-top: 20px; }
.opacity    { opacity: 0; }
.title-mobile { display: none; }

.container-img-not-found {
    text-align: center;
    .img-not-found { width: 60%; }
}

.title-detail {
    padding: 10px 40px 10px;
    text-align: center;
}

html,
body,
#root,
.App {
    height: 100%;
}

body .light {
    background-color: $White;
}

@media screen and (max-width: 530px){
    .container-film .title-mobile {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;

        i {
            margin-right: 10px;
        }
    }
}