.container-film {
  height: auto !important;
  min-height: 80%;
  background-color: #eeeeee;
  margin-left: 121px;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .container-film {
    margin-left: 100px;
  }
}

@media screen and (max-width: 530px) {
  .container-film {
    margin-left: 0;
  }
}

.menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  height: 100vh;
  background-color: #fff;
}

.menu .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 10%;
  cursor: pointer;
  border-left: 3px solid transparent;
}

.menu .menu-link:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  background-color: #FFEB00;
  border-bottom: 1.5px solid #FFEB00;
  padding: 25px 20px;
}

.menu .menu-link:nth-child(1) .iconSearch {
  margin-right: 5px;
}

.menu .active:not(:nth-child(1)) {
  border-left: 3px solid #000;
  background-color: #fff;
  color: #fff;
}

.menu .active:not(:nth-child(1)) span, .menu .active:not(:nth-child(1)) i {
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.menu .menu-mode {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 12px;
  background-color: #000;
  color: #fff;
}

.menu .menu-mode:after {
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  color: #fff;
}

.menu .menu-mode:after:hover {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media screen and (max-width: 750px) {
  .menu {
    width: 100px;
  }
}

@media screen and (max-width: 530px) {
  .menu {
    width: 100%;
    z-index: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .menu .menu-link {
    padding: 0;
  }
  .menu-active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    z-index: 2;
  }
}

.container .menu-mobile {
  text-align: center;
  padding: 10px 20px;
  background-color: #FFEB00;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .menu-mobile .hamburger {
  width: 40px;
  cursor: pointer;
  list-style-type: none;
}

.container .menu-mobile .hamburger .trait {
  background-color: black;
  width: 100%;
  height: 3px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 530px) {
  .container .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}

.container-modal .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 80%;
  background-color: white;
  overflow-y: scroll;
  -webkit-animation: popup 0.5s ease;
          animation: popup 0.5s ease;
}

.container-modal .modal-container #modal {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  width: 100%;
  height: 100%;
}

.container-modal .modal-container #modal .modal-info-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 8px;
}

.container-modal .modal-container #modal .big {
  font-size: 25px;
}

.container-modal .modal-container #modal .modal-info-img {
  width: 100%;
  height: 50%;
}

.container-modal .modal-container #modal .modal-info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-modal .modal-container #modal .modal-info {
  padding: 10px;
}

.container-modal .modal-container #modal .modal-info .modal-info-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100%;
}

.container-modal .modal-container #modal .modal-info .movie-star {
  position: absolute;
  top: 5px;
  left: 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000;
  cursor: pointer;
  width: 35px;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.container-modal .modal-container #modal .modal-info .movie-star.fav {
  color: #FFEB00;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.container-modal .modal-container #modal .modal-info .container-modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-modal .modal-container #modal .modal-info .container-modal-btn .modal-btn {
  width: 200px;
  margin: 20px 0 10px;
  bottom: 20px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
}

.container-modal .modal-container .modal-actor {
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

.container-modal .modal-container .modal-actor .modal-cast {
  margin-top: 20px;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-cast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-cast .modal-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-cast .modal-info-left .modal-img-actor {
  width: 170px;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-cast .modal-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-biography {
  text-align: justify;
  margin-top: 10px;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-films {
  margin: 40px 0;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-films .modal-films-card-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-films .modal-films-card-info .modal-img-actor-film {
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-films .modal-films-card-info .modal-films-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  position: relative;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-films .modal-films-card-info .modal-films-card-text span {
  margin-bottom: 7px;
}

.container-modal .modal-container .modal-actor .modal-cast .modal-info-films .modal-films-card-info .movie-star-actor {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.container-modal .modal-container .modal-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-modal .modal-container .input-modal {
  margin-bottom: 20px;
}

.container-modal .modal-container .modal-bg button {
  border: none;
}

.container-modal .modal-container .close {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 5px;
  right: 7px;
  color: #000;
  z-index: 3;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

body.dark {
  background-color: #2c2c2c;
}

body.dark .container .menu-smooth {
  color: #fff;
}

body.dark .container .menu {
  background-color: #000;
  color: #fff;
}

body.dark .container .menu .menu-link:first-child {
  color: #000;
}

body.dark .container .menu .menu-link:last-child {
  background-color: #fff;
  color: #000;
}

body.dark .container .menu .menu-link:last-child span, body.dark .container .menu .menu-link:last-child i {
  text-shadow: none;
}

body.dark .container .menu .menu-mode {
  background-color: #fff;
  color: #000;
  border-right: 1px solid #000;
}

body.dark .container .menu .active:not(:nth-child(1)) {
  border-left: 3px solid #FFEB00;
  background-color: #000;
}

body.dark .container .menu .active:not(:nth-child(1)) span, body.dark .container .menu .active:not(:nth-child(1)) i {
  text-shadow: none;
}

body.dark .container .container-film {
  background-color: #2c2c2c;
  color: #fff;
}

body.dark .container .container-film #filter .container-filter .filterByGenre,
body.dark .container .container-film #filter .container-filter .filter-list {
  border: 1px solid #fff;
  background-color: #000;
}

body.dark .container .container-film .review .movie-review-cards .card {
  border: 1px solid #fff;
}

body.dark .container .container-film .review .movie-review-cards .card .card-info-left .review-url {
  color: #fff;
}

body.dark .container .container-film .similar .movie-similar-cards .card {
  border: 1px solid #fff;
}

body.dark .container .container-film .film-upcoming-card {
  border: 1px solid #fff;
}

body.dark .container .container-film .film-categories-cards .card {
  border: 1px solid #fff;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: context-menu;
  width: 100%;
  height: 100%;
  background-color: #FFEB00;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay h1 {
  font-size: 50px;
  font-weight: 700;
}

.overlay span {
  font-size: 30px;
  font-weight: 500;
}

.film-research {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.film-research #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  margin-top: 30px;
  list-style-type: none;
  width: 300px;
  background-color: #FFEB00;
  color: #000;
  border-radius: 15px;
}

.film-research #form > li:first-child {
  margin-left: 20px;
}

.film-research #form > li:last-child {
  width: 100%;
}

.film-research #form #search {
  background-color: #FFEB00;
  width: 100%;
  height: 41px;
  border: none;
  border-radius: 15px;
  color: #000;
  text-indent: 10px;
  border-radius: 15px;
  outline: none;
}

.container-return {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 51px;
  list-style-type: none;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFEB00;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-return .hamburger {
  width: 40px;
  cursor: pointer;
  list-style-type: none;
  margin-right: 20px;
  display: none;
}

.container-return .hamburger .trait {
  background-color: black;
  width: 100%;
  height: 3px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-return .container-return-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.container-return .container-return-btn > li:first-child {
  margin-left: 20px;
  margin-right: 10px;
}

.container-return .container-return-btn .return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 530px) {
  .container-return .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-film-categories .film-categories-filtering {
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-film-categories .film-categories-filtering .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.container-film-categories .film-categories-filtering .flex #filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter {
  position: relative;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filterByGenre {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #2c2c2c;
  color: #fff;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filterByGenre .arrow {
  margin-left: 5px;
  font-size: 16px;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list {
  position: absolute;
  top: 50px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2c2c2c;
  color: #fff;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 1;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list .column1 > li:hover,
.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list .column2 > li:hover,
.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list .column3 > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list .column2 {
  margin-left: 20px;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list .column3 {
  margin-left: 10px;
}

.container-film-categories .film-categories-filtering .flex #filter .container-filter .filter-list.hide {
  display: none;
}

.container-film-categories .film-categories-filtering .flex .basedPopularity {
  position: absolute;
  top: 0;
  left: 50%;
  text-decoration: underline;
  text-transform: uppercase;
}

.container-film-categories .film-categories-filtering .flex .filter-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container-film-categories .film-categories-filtering .flex .filter-note #noteInput {
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  height: 5px;
  outline: none;
  -webkit-appearance: none;
}

.container-film-categories .film-categories-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.container-film-categories .film-categories-cards .card {
  margin: 20px;
  border: 1px solid #000;
  width: 250px;
}

.container-film-categories .film-categories-cards .card .card-img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: pointer;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-film-categories .film-categories-cards .card .card-img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-categories .film-categories-cards .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10px 0 20px;
}

@media screen and (max-width: 750px) {
  .container-film-categories .film-categories-filtering .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 40px;
  }
  .container-film-categories .film-categories-filtering .flex #filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .container-film-categories .film-categories-filtering .flex .filter-note {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-film-categories .film-categories-filtering .flex .filter-note #noteInput {
    width: 250px;
  }
}

.film-research-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.film-research-cards .card {
  margin: 20px 30px;
  border: 1px solid #fff;
  width: 250px;
}

.film-research-cards .card .research-card-img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: pointer;
  width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
}

.film-research-cards .card .research-card-img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.film-research-cards .card .research-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 7px 0 14px;
}

.menu .menu-link:hover:not(:nth-child(1)) .menu-smooth span,
.menu .menu-link:hover:not(:nth-child(1)) .menu-smooth {
  color: #fff;
}

.menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  height: 100vh;
  background-color: #fff;
}

.menu .menu-smooth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  color: #000;
}

.mooflix-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
}

.mooflix-img .fa-image {
  margin-right: 5px;
}

.container-movie-detail .movie-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-movie-detail .information {
  padding-top: 50px;
}

.container-movie-detail .information .movie-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  padding: 10px 40px 0;
}

.container-movie-detail .information .movie-info-flex .movie-info-img {
  width: 200px;
  text-align: center;
}

.container-movie-detail .information .movie-info-flex .movie-info-img .movie-star-info {
  cursor: pointer;
}

.container-movie-detail .information .movie-info-flex .movie-info-img .movie-star-info.fav {
  color: #FFEB00;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.container-movie-detail .information .movie-info-flex p {
  margin-bottom: 15px;
}

.container-movie-detail .information .movie-info-flex p .big {
  font-size: 25px;
}

.container-movie-detail .information .movie-info-flex .movie-info-left,
.container-movie-detail .information .movie-info-flex .movie-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.container-movie-detail .information .movie-synopsis {
  margin: 10px 40px;
  text-align: justify;
}

.container-movie-detail .information .movie-synopsis .big {
  font-size: 25px;
}

.container-movie-detail .casting {
  padding-top: 50px;
}

.container-movie-detail .casting .movie-cast-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 38px;
}

.container-movie-detail .casting .movie-cast-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 20px 5px;
}

.container-movie-detail .casting .movie-cast-cards .card .movie-cast-img {
  width: 200px;
  height: 300px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-movie-detail .casting .movie-cast-cards .card .movie-cast-nobody {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-movie-detail .trailers {
  padding-top: 50px;
}

.container-movie-detail .trailers .movie-trailer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 40px 30px;
}

.container-movie-detail .trailers .movie-trailer-cards .video-youtube {
  margin: 20px;
  border: none;
}

.container-movie-detail .review {
  padding-top: 50px;
}

.container-movie-detail .review .movie-review-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-movie-detail .review .movie-review-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 70%;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 40px;
}

.container-movie-detail .review .movie-review-cards .card .card-info-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  margin-right: 15px;
}

.container-movie-detail .review .movie-review-cards .card .card-info-left .review-url {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  color: #000;
}

.container-movie-detail .review .movie-review-cards .card .card-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 36px;
}

.container-movie-detail .similar {
  padding-top: 50px;
}

.container-movie-detail .similar .movie-similar-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.container-movie-detail .similar .movie-similar-cards .card {
  border: 1px solid #000;
  margin: 10px 10px 20px;
}

.container-movie-detail .similar .movie-similar-cards .card .card-img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.container-movie-detail .similar .movie-similar-cards .card .card-img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-movie-detail .similar .movie-similar-cards .card .card-info {
  padding: 10px 0 20px;
}

@media screen and (max-width: 900px) {
  .container-movie-detail .movie-img {
    height: 50vh;
  }
  .container-movie-detail .information .movie-info-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-movie-detail .information .movie-info-flex .movie-star-info,
  .container-movie-detail .information .movie-info-flex .movie-info-left {
    margin-bottom: 20px;
  }
}

.container-film-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-film-playing .film-playing-carrousel {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 100%;
}

.container-film-playing .film-playing-carrousel:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-playing .film-playing-carrousel .img-carrousel-playing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  background-position: top top;
}

.container-film-playing .film-playing-carrousel .film-playing-info {
  position: absolute;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  color: #fff;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-playing .film-flex-playing {
  width: 60%;
  height: 100vh;
}

.container-film-playing .film-flex-playing .cards-playing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  height: 100%;
}

.container-film-playing .film-flex-playing .cards-playing .card-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  border: 1px solid #000;
}

.container-film-playing .film-flex-playing .cards-playing .card-playing .container-img {
  height: 80%;
}

.container-film-playing .film-flex-playing .cards-playing .card-playing .container-img .card-img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.container-film-playing .film-flex-playing .cards-playing .card-playing .container-img .card-img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-playing .film-flex-playing .cards-playing .card-playing .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .container-film-playing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-film-playing .film-playing-carrousel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    width: 70%;
    height: 450px;
  }
  .container-film-playing .film-flex-playing {
    width: 90%;
    height: 600px;
  }
  .container-film-playing .film-flex-playing .cards-playing {
    margin: 50px 0;
    grid-gap: 15px;
  }
}

@media screen and (max-width: 530px) {
  .container-film-playing .film-flex-playing .cards-playing {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.container-film-trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-film-trending .film-flex-trending {
  width: 60%;
  height: 100%;
}

.container-film-trending .film-flex-trending .cards-trending {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  height: 100%;
}

.container-film-trending .film-flex-trending .cards-trending .card-trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  border: 1px solid #000;
}

.container-film-trending .film-flex-trending .cards-trending .card-trending .container-img {
  height: 80%;
}

.container-film-trending .film-flex-trending .cards-trending .card-trending .container-img .card-img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.container-film-trending .film-flex-trending .cards-trending .card-trending .container-img .card-img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-trending .film-flex-trending .cards-trending .card-trending .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-film-trending .film-trending-carrousel {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 100%;
}

.container-film-trending .film-trending-carrousel:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-trending .film-trending-carrousel .img-carrousel-trending {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  background-position: top top;
}

.container-film-trending .film-trending-carrousel .film-trending-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  color: #fff;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

@media screen and (max-width: 900px) {
  .container-film-trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-film-trending .film-trending-carrousel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 70%;
    height: 450px;
  }
  .container-film-trending .film-flex-trending {
    width: 90%;
  }
  .container-film-trending .film-flex-trending .cards-trending {
    grid-gap: 15px;
  }
}

@media screen and (max-width: 530px) {
  .container-film-trending .film-flex-trending .cards-trending {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.container-film-upcoming {
  position: relative;
  padding: 0 50px;
}

.container-film-upcoming .film-upcoming-carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.container-film-upcoming .film-upcoming-carrousel .arrow-left {
  position: absolute;
  top: 45%;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.container-film-upcoming .film-upcoming-carrousel .arrow-right {
  position: absolute;
  right: 20px;
  top: 45%;
  font-size: 30px;
  cursor: pointer;
}

.container-film-upcoming .film-upcoming-carrousel .film-upcoming-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 10px;
  border: 1px solid #000;
  width: 100%;
}

.container-film-upcoming .film-upcoming-carrousel .film-upcoming-card .film-upcoming-img {
  height: 82%;
  cursor: pointer;
}

.container-film-upcoming .film-upcoming-carrousel .film-upcoming-card .film-upcoming-img .upcoming-img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-film-upcoming .film-upcoming-carrousel .film-upcoming-card .film-upcoming-img .upcoming-img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.container-film-upcoming .film-upcoming-carrousel .film-upcoming-card .film-upcoming-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18%;
}

@media screen and (max-width: 900px) {
  .container-film-upcoming {
    padding: 0;
  }
  .container-film-upcoming .film-upcoming-carrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-film-upcoming .film-upcoming-carrousel .film-upcoming-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    margin: 30px 60px;
  }
  .container-film-upcoming .film-upcoming-carrousel .film-upcoming-card .film-upcoming-info {
    padding: 10px 0 20px;
  }
}

@media screen and (max-width: 750px) {
  .container-film-upcoming .film-upcoming-carrousel .film-upcoming-card {
    width: 250px;
  }
}

.watchlist-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.watchlist-cards .card {
  margin: 20px;
  border: 1px solid;
}

.watchlist-cards .card .card-img-fav {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  cursor: pointer;
  width: 250px;
}

.watchlist-cards .card .card-img-fav:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.watchlist-cards .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 20px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'agency fb';
  width: 100%;
  font-size: 20px;
}

.container {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none;
}

.titleCenter {
  text-align: center;
  margin-top: 20px;
}

.opacity {
  opacity: 0;
}

.title-mobile {
  display: none;
}

.container-img-not-found {
  text-align: center;
}

.container-img-not-found .img-not-found {
  width: 60%;
}

.title-detail {
  padding: 10px 40px 10px;
  text-align: center;
}

html,
body,
#root,
.App {
  height: 100%;
}

body .light {
  background-color: #fff;
}

@media screen and (max-width: 530px) {
  .container-film .title-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-film .title-mobile i {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */