@import '../global/functions';

.container-film-categories{
    .film-categories-filtering {
        padding: 40px 0;
        align-items: center;

        .flex {
            display: flex;
            justify-content: space-between;
            padding: 0 40px;

            #filter {
                display: flex;
                width: 380px;
                justify-content: space-between;

                .container-filter {
                    position: relative;

                    .filterByGenre {
                        padding: 6px;
                        border-radius: 5px;
                        border: 1px solid $Black;
                        background-color: $Black_middle;
                        color: $White;

                        .arrow {
                            margin-left: 5px;
                            font-size: 16px;
                        }
                    }

                    .filter-list {
                        @include position(absolute, 50px, 0);
                        display: flex;
                        background-color: $Black_middle;
                        color: $White;
                        list-style-type: none;
                        padding: 10px;
                        border: 1px solid $Black;
                        border-radius: 5px;
                        z-index: 1;

                        .column1 > li,
                        .column2 > li,
                        .column3 > li {
                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }

                        .column2 { margin-left: 20px; }
                        .column3 { margin-left: 10px; }
                    }

                    .filter-list.hide {
                        display: none;
                    }
                }
            }

            .basedPopularity {
                @include position(absolute, 0, 50%);
                text-decoration: underline;
                text-transform: uppercase;
            }

            .filter-note {
                @include flex();

                #noteInput {
                    margin-bottom: 8px;
                    border-radius: 4px;
                    border: 1px solid $Black;
                    height: 5px;
                    outline: none;
                    -webkit-appearance: none;
                }
            }
        }
    }

    .film-categories-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;

        .card {
            margin: 20px;
            border: 1px solid $Black;
            width: 250px;

            .card-img {
                @include hover();
                cursor: pointer;
                width: 100%;
                object-fit: contain;
            }

            .card-info {
                @include flex();
                padding: 10px 0 20px;
            }
        }
    }
}

@media screen and (max-width: 750px){
    .container-film-categories{
        .film-categories-filtering {

            .flex {
                flex-direction: column;
                text-align: center;
                padding: 0 40px;

                #filter {
                    justify-content: center;
                    margin-bottom: 20px;
                    width: 100%;
                }
                .filter-note {
                    align-items: center;

                    #noteInput {
                        width: 250px;
                    }
                }
            }
        }
    }
}