@import '../global/functions';

.film-research-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    .card {
        margin: 20px 30px;
        border: 1px solid $White;
        width: 250px;

        .research-card-img {
            @include hover();
            cursor: pointer;
            width: 100%;
            height: 375px;
            object-fit: cover;
        }

        .research-card-info {
            @include flex();
            padding: 7px 0 14px;
        }
    }
}