@import '../global/functions';

.menu .menu-link:hover:not(:nth-child(1)) .menu-smooth span,
.menu .menu-link:hover:not(:nth-child(1)) .menu-smooth{
    color: $White;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
    background-color: $White;

    .menu-smooth{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        color: $Black;
    }
}

.mooflix-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $Black;

    .fa-image{
        margin-right: 5px;
    }
}

.container-movie-detail {
    .movie-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .information{
        padding-top: 50px;

        .movie-info-flex {
            display: flex;
            justify-content: space-around;
            text-align: left;
            padding: 10px 40px 0;

            .movie-info-img {
                width: 200px;
                text-align: center;

                .movie-star-info {
                    cursor: pointer;
                }
                .movie-star-info.fav {
                    color: $Yellow;
                    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
                }
            }

            p {
                margin-bottom: 15px;
                .big { font-size: 25px; }
            }

            .movie-info-left,
            .movie-info-right {
                display: flex;
                flex-direction: column;
                width: 30%;
            }
        }

        .movie-synopsis {
            margin: 10px 40px;
            text-align: justify;
            .big {
                font-size: 25px;
            }
        }
    }

    .casting {
        padding-top: 50px;

        .movie-cast-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 38px;

            .card {
                @include flex();
                margin: 20px 5px;

                .movie-cast-img {
                    width: 200px;
                    height: 300px;
                    cursor: pointer;
                    object-fit: contain;
                }

                .movie-cast-nobody {
                    width: 200px;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }

    .trailers {
        padding-top: 50px;

        .movie-trailer-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0px 40px 30px;

            .video-youtube {
                margin: 20px;
                border: none;
            }
        }
    }

    .review {
        padding-top: 50px;

        .movie-review-cards {
            @include flex(column, left);
            margin-top: 10px;
            align-items: center;

            .card {
                display: flex;
                padding: 20px;
                width: 70%;
                border: 1px solid $Black;
                border-radius: 10px;
                margin-bottom: 40px;

                .card-info-left {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                    margin-right: 15px;
                    .review-url {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin-top: 20px;
                        color: $Black;
                    }
                }
                .card-info-right {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin-top: 36px;
                }
            }
        }
    }

    .similar {
        padding-top: 50px;

        .movie-similar-cards {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 40px;
            justify-content: space-around;
            text-align: center;

            .card {
                border: 1px solid $Black;
                margin: 10px 10px 20px;

                .card-img {
                    width: 200px;
                    height: 300px;
                    object-fit: cover;
                    cursor: pointer;
                    @include hover();
                }

                .card-info {
                    padding: 10px 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .container-movie-detail {
        .movie-img {
            height: 50vh;
        }

        .information {
            .movie-info-flex {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;

                .movie-star-info,
                .movie-info-left {
                    margin-bottom: 20px;
                }
            }
        }
    }
}