@import '../global/functions';

.container-film-trending {
    display:  flex;
    height: 100vh;
    box-sizing: border-box;

    .film-flex-trending {
        width: 60%;
        height: 100%;

        .cards-trending {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 50% 50%;
            height: 100%;

            .card-trending {
                @include flex();
                position: relative;
                border: 1px solid $Black;

                .container-img {
                    height: 80%;

                    .card-img {
                        @include hover();
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }

                .card-info {
                    display: flex;
                    flex-direction: column;
                    height: 20%;
                    justify-content: center;
                }
            }
        }
    }

    .film-trending-carrousel {
        @include hover();
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        height: 100%;

        .img-carrousel-trending {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            background-position: top top;
        }

        .film-trending-info{
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 30px;
            color: $White;
            filter: brightness(1);
            text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
        }
    }
}

@media screen and (max-width: 900px){
    .container-film-trending {
        display:  flex;
        flex-direction: column;
        align-items: center;

        .film-trending-carrousel {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 60px;
            width: 70%;
            height: 450px;
        }

        .film-flex-trending {
            width: 90%;
            // height: 53vh;

            .cards-trending {
                grid-gap: 15px;
            }
        }
    }
}

@media screen and (max-width: 530px){
    .container-film-trending {
        .film-flex-trending {
            .cards-trending {
                grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            }
        }
    }
}