@import '../global/functions';

.container-film-upcoming {
    position: relative;
    padding: 0 50px;

    .film-upcoming-carrousel {
        display: flex;
        height: 100vh;

        .arrow-left {
            @include position(absolute, 45%, 20px);
            font-size: 30px;
            cursor: pointer;
        }

        .arrow-right {
            position: absolute;
            right: 20px;
            top: 45%;
            font-size: 30px;
            cursor: pointer;
        }

        .film-upcoming-card {
            display: flex;
            flex-direction: column;
            margin: 30px 10px;
            border: 1px solid $Black;
            width: 100%;

            .film-upcoming-img {
                height: 82%;
                cursor: pointer;

                .upcoming-img {
                    @include hover();
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .film-upcoming-info {
                @include flex();
                justify-content: center;
                height: 18%;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .container-film-upcoming {
        padding: 0;

        .film-upcoming-carrousel {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: center;
            justify-content: center;

            .film-upcoming-card {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                margin: 30px 60px;

                .film-upcoming-info {
                    padding: 10px 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    .container-film-upcoming {
        .film-upcoming-carrousel {
            .film-upcoming-card {
                width: 250px;
            }
        }
    }
}
