@import '../global/functions';

.watchlist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

    .card {
        margin: 20px;
        border: 1px solid;

        .card-img-fav {
            @include hover();
            cursor: pointer;
            width: 250px;
        }

        .card-info {
            display: flex;
            flex-direction: column;
            margin: 10px 0 20px;
        }
    }
}